/* Pages/About */
#about-div {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  text-align: center;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

#about-title {
  font-size: 2.5rem;
}

#about-info {
  font-size: 1.5rem;
  background-color: grey;
  width: 50%;
}
