/* Pages/About */
#about-div, #portfolio-div, #contact-div, #resume-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 80vh;
  justify-content: space-evenly;
  align-items: center;
}

#about-title {
  margin: 0;
  font-size: 2.5rem;
}

#about-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  font-size: 1.5rem;
  height: 100%;
  width: 50%;
  transition: background 0.5s ease-in-out,
  transform 0.5s ease-in-out;
  padding: 0 10px;
  background: #21012496;
}

#about-info:hover {
  background: #210124;
}

#about-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

#profile-img {
  width: 300px;
  background: linear-gradient(rgba(0,0,0,0.0) 50%, #210124);
  border-radius: 20px;
  transition: box-shadow 0.5s ease-in-out,
  transform 0.5s ease-in-out;
}

#profile-img:hover {
  box-shadow: 0px 0px 10px 1px inset white;
  transform: scale(1.1);
}
