:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #bfd2de;
  background: linear-gradient(45deg, #210124, 
  #20063B, 
  #0b1d2f, 
  #6288b1);
  background-image: url(../public/ocean-view.jpg);
  background-size: 150% 150%;
  background-repeat: no-repeat;
  height: 100vh;
  animation: color 80s ease-in-out infinite;
  ;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

a {
  font-weight: 500;
  font-size: 1.2rem;
  color: #bfd2de;
  text-decoration: inherit;
}

li {
  list-style-type: none;
  margin-right: 10px;
}
a:hover {
  color: white;
}

body {
  margin: 0;
  place-items: center;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Component/Header */
header {
  display: flex;
  background: none;
  background: #210124a7;
  justify-content: space-evenly;
  border-bottom: 3px solid #bfd2d9;
  align-items: center;
  transition: background 0.7s ease-in-out
}

header:hover {
  background: #210124;
}


.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
